/*
    > top_cnt.css - 공통 영역 (콘텐츠_상단 TITLE)
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

div#contents {
    width: 1080px; height: 674px;
    margin: 0px auto;
    overflow: hidden;
    background-color: aquamarine;
}

div#contents h1 {
    margin: 40px 0px 0px 470.375px;
    text-align: center;
    display: block;
    float: left;
}

div#contents hr {
    width: 428px;
    margin: 10px 0px 0px 325px;
    float: left;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */

