* { margin: 0; padding: 0; }
ol, ul { list-style: none; }
a { outline: 0; text-decoration: none; color: #555; }
img { border: 0; }
body { font : 12px/1.6 arial; color: #555; }

header {
    width: 1080px;
    height: 166px;
    margin: 0 auto;
    background-color: aqua;
}

header div#logoWrap {
    width: 1080px;
    height: 110px;
    background-color: lightblue;
}

div#logoWrap h1 {
    text-align: center;
}

header div#topMenu {
    width: 1080px;
    height: 56px;
    background-color: yellow;
}