* { margin: 0; padding: 0; }
ol, ul { list-style: none; }
a { outline: 0; text-decoration: none; color: black; }
img { border: 0; }

/*
    [======= 메 ======= 모 ======= ]
    (2020-05-15) 검색창 _ CSS 속성(overflow, float, disply) 공부 후, 정확한 속성으로 수정하기.
*/

/*
    (2020-05-15) index.css 분리 _ 푸터 영역 디자인(css)를  구분하기 위함.
    (2020-05-15) 헤더, 푸터 css 완성.
*/


/* ---------------------------- 헤더 영역 ------------------------------- */

header {
    width: 1080px; height: 166px;
    margin: 0 auto;
}

/* ------------- 로고 영역 ------------- */

header div#logoWrap {
    width: 1080px; height: 110px;
    overflow: hidden;
}

/* 상단 로고 */  
div#logoWrap h1 {
    line-height: 110px;
    margin-left: 407.435px;
    text-align: center;
    display: block;
    float: left;
}

/* 회원가입 / 로그인 */
div#logoWrap p {
    line-height: 110px;
    margin-right: 100px;
    text-align: center;
    display: block;
    float: right;
    color: rgb(51,51,51);
}

div#logoWrap p a { color: rgb(51,51,51); }


/* ------------- 탭 영역 ------------- */

header nav#topGnb {
    width: 1080px; height: 56px;
    background-color: rgb(158, 158, 158);
    overflow: hidden;
}

/* 탭 메뉴 [162px * 5] */  
#topGnb ul li {
    width: 162px; height: 56px;
    line-height: 56px;
    text-align: center;
    display: block;
    float: left;
}

#topGnb ul li a {
    font-weight: bold;
}


/* 검색창 [270px]  */
#topGnb div {
    width: 270px; height: 56px;
    display: block;
    float: left;
}

#topGnb div div#search {
    width: 250px; height: 36px;
    margin: 9px;
    border: 1px solid rgb(166,166,166);
    background: #fff;
    display: block;
    float: left; 
}

#topGnb div div#search input {
    width: 209px; height: 36px;
    margin: 0px 0px 0px 5px;
    border: 0px;
    outline: none;
    float: left;
}

#topGnb div div#search button {
    width: 36px; height: 36px;
    border: 0px;
    background: rgb(237, 237, 237);
    color: rgb(166,166,166);
    outline: none;
    float: right;
}

/* ---------------------------- 헤더 영역 END ------------------------------- */


/* ---------------------------- 푸터 영역 ------------------------------- */

footer {
    width: 1080px; height: 160px;
    margin: 0 auto;
    overflow: hidden;
    background-color: yellow;
}

footer h1 {
    line-height: 160px;
    margin-left: 163.735px;
    color: rgb(190,190,190);
    text-align: center;
    display: block;
    float: left;
}

footer p {
    font-size: 12px; 
    margin-left: 18.555px;
    padding-top: 56px;
    color: rgb(190,190,190);
    display: block;
    float: left;
}

/* ---------------------------- 푸터 영역 END ------------------------------- */