/*
    > alt_user.css - alt_user.html (콘텐츠)
    > (2020-05-26) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

section#contents > div#inputWrap {
    width: 640px;
    margin: 60px 0px 0px 40px;
    text-align: center;
    float: left;

}

div#inputWrap > label.label {
    font-size: 24px;
    font-weight: bold;
}


/* 아이디 */

input#member_id {
    width: 310px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin-left: 126px;
}

div#inputWrap div {
    width: 116px; height: 57px;
    border: 0px;
    float: right;
}


/* 이메일 / 중복확인 */

input#member_email {
    width: 310px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin: 15px 0px 0px 126px;
}

button#dup_email {
    width: 111px; height: 57px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(64,64,64);
    background-color: rgb(224,224,224);
    font-weight: bold;
    cursor : pointer;
}


/* 비밀번호 / 비밀번호 확인 */

input#member_pwd {
    width: 428px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin: 15px 0px 0px 102px;
}

input#re_pwd {
    width: 428px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin: 15px 0px 0px 46px;
}


/* 버튼 영역 */

section#contents > div#btnWrap {
    width: 640px;
    margin: 50px 0px 0px 40px;
    text-align: center;
    display: block;
    float: left;
}

div#btnWrap button {
    width: 244px; height: 57px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(64,64,64);
    font-weight: bold;
    color: white;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */