/*
    > del_user.css - del_user.html (콘텐츠)
    > (2020-05-26) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

section#contents div#inputWrap {
    width: 640px;
    margin: 60px 0px 0px 40px;
    text-align: center;
    display: block;
    float: left;

}

section#contents div#inputWrap label.label {
    font-size: 24px;
    font-weight: bold;
}

/* 비밀번호 / 비밀번호 확인 */

section#contents div#inputWrap input#member_pwd {
    width: 428px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin: 15px 0px 0px 102px;
}

section#contents div#inputWrap input#re_pwd {
    width: 428px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin: 15px 0px 0px 46px;
}


/* 버튼 영역 */

section#contents div#btnWrap {
    width: 640px;
    margin: 50px 0px 0px 40px;
    text-align: center;
    display: block;
    float: left;
}

section#contents div#btnWrap button {
    width: 244px; height: 57px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(64,64,64);
    font-weight: bold;
    color: white;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */