/*
    > aside.css - 공통 영역 (콘텐츠_사이드)
    > (2020-05-19) 콘텐츠_사이드 영역 css 완료.
*/

/* ---------------------------- 콘텐츠_사이드 영역 ------------------------------- */

aside#side {
    width: 255px; height: 674px;
    float: left;
}

aside#side > div#sideBox {
    width: 225px; height: 171px;
    margin: 40px 0px 0px 15px;
    border-radius: 20px;
    background-color: rgb(224,224,224);
}

div#sideBox > h3 {
    margin: 20px 0px 0px 32.5px;
    float: left;
}

div#sideBox > hr {
    width: 172px;
    margin: 7.5px 0px 0px 26.5px;
    float: left;
}

div#sideBox > ul {
    margin: 15px 0px 0px 32.5px;
    line-height: 35px;
    float: left;
}

/* ---------------------------- 콘텐츠_사이드 영역 END ------------------------------- */