* { margin: 0; padding: 0; }
ol, ul { list-style: none; }
a { outline: 0; text-decoration: none; color: black; }
img { border: 0; }

/*
    > common.css - 공통 영역
    > (2020-05-15) 헤더, 푸터 css 완료.
    > (2020-05-15) 푸터 영역 분리. (foot_idx.css, foot_com.css)
    > (2020-05-26) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 헤더 영역 ------------------------------- */

header {
    width: 1080px; height: 110px;
    margin: 0px auto;
}

/* ------------- 로고 영역(logoWrap) ------------- */

header > div#logoWrap {
    width: 1080px; height: 110px;
}

/* 상단 로고 */  
div#logoWrap > h1 {
    line-height: 110px;
    margin-left: 407.435px;
    float: left;
}

/* 회원가입 / 로그인 */
div#logoWrap > p {
    line-height: 110px;
    margin-right: 100px;
    float: right;
}

div#logoWrap > p > a { color: rgb(51,51,51); }


/* ------------- 탭 영역(topGnb) ------------- */
 
nav {
    width: 100%; height: 56px;
    display: flex;
    justify-content: center;
    position: relative;
    background: rgb(158, 158, 158);
  }
  
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #main-menu > li {
    float: left;
    position: relative;
  }
  
  #main-menu > li > a {
    font-size: 16px;
    color: rgba(51,51,51,0.85);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    display: block;
    padding: 18px 56px;
    border-right: 1px solid rgba(158,158,158,0.15);
  }
  
  /*
  #main-menu > li:nth-child(1) {
    border-left: 1px solid rgba(0,0,0,0.15);
  }
  */

  #sub-menu {
    position: absolute;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in;
    overflow: hidden;
    z-index: 1;
  }
  
  #sub-menu > li {
    padding: 17px 38px;
    border-left: 1px solid rgba(0,0,0,0.15);
    border-right: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }
  
  #sub-menu > li >  a {
    color: rgba(51,51,51,0.6);
    text-decoration: none;
  }
  
  #main-menu > li:hover #sub-menu {
    opacity: 1;
    visibility: visible;
  }
  
  #sub-menu > li >  a:hover {
   text-decoration: underline;
  }
  
  #main-menu > li:nth-child(6) {
    width: 270px; height: 42px;
    float: left;
  }
  
  li#search {
    width: 250px; height: 42px;
    margin:6px;
    border: 1px solid rgb(166,166,166);
    background: #fff;
    float: left; 
  }
  
  li#search > input {
    width: 209px; height: 40px;
    margin: 0px 0px 0px 5px;
    border: 0px;
    outline: none;
    float: left;
  }
  
  li#search > button {
    width: 36px; height: 42px;
    border: 0px;
    background-color: rgb(237, 237, 237);
    color: rgb(166,166,166);
    outline: none;
    float: right;
    cursor: pointer;
  }

/* ---------------------------- 헤더 영역 END ------------------------------- */

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

/* 사이드가 있는 페이지 */

div#cntWrap {
    width: 1080px; height: 674px;
    margin: 0px auto;
    overflow: hidden;
}

section#contents {
    width: 825px; height: 674px;
    float: right;
}

section#contents div#titleWrap {
    width: 430px; height: 50px;
    margin: 40px 0px 0px 40px;
    float: left;
}

section#contents div#titleWrap h2 {
    margin-left: 4px;
    float: left;
    font-size: 28px;
}

section#contents div#titleWrap hr {
    width: 428px;
    margin-top: 10px;
    float: left;
}

section#contents div#titleWrap h5 {
    margin: 10px 0px 0px 4px;
    color: rgb(158, 158, 158);
    float: left;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */