* { margin: 0; padding: 0; }
ol, ul { list-style: none; }
a { outline: 0; text-decoration: none; color: black; }
img { border: 0; }

/*
    > common.css - 공통 영역
    > (2020-05-15) 헤더, 푸터 css 완료.
    > (2020-05-15) 푸터 영역 분리. (foot_idx.css, foot_com.css)
    > (2020-05-26) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 헤더 영역 ------------------------------- */

header {
    width: 1080px; height: 166px;
    margin: 0px auto;
}

/* ------------- 로고 영역(logoWrap) ------------- */

header > div#logoWrap {
    width: 1080px; height: 110px;
}

/* 상단 로고 */  
div#logoWrap > h1 {
    line-height: 110px;
    margin-left: 407.435px;
    float: left;
}

/* 회원가입 / 로그인 */
div#logoWrap > p {
    line-height: 110px;
    margin-right: 100px;
    float: right;
}

div#logoWrap > p > a { color: rgb(51,51,51); }


/* ------------- 탭 영역(topGnb) ------------- */
 
header > nav#topGnb {
    width: 1080px; height: 56px;
    background-color: rgb(158, 158, 158);
}

/* 탭 메뉴 [162px * 5] */  
#topGnb > ul > li {
    width: 162px; height: 56px;
    line-height: 56px;
    text-align: center;
    float: left;
    font-weight: bold;
}

/* 검색창 [270px]  */
#topGnb > div {
    width: 270px; height: 56px;
    float: left;
}

div#search {
    width: 250px; height: 36px;
    margin: 9px;
    border: 1px solid rgb(166,166,166);
    background: #fff;
    float: left; 
}

div#search > input {
    width: 209px; height: 36px;
    margin: 0px 0px 0px 5px;
    border: 0px;
    /* outline: none; */
    float: left;
}

div#search > button {
    width: 36px; height: 36px;
    border: 0px;
    background-color: rgb(237, 237, 237);
    color: rgb(166,166,166);
    /* outline: none; */
    float: right;
    cursor: pointer;
}

/* ---------------------------- 헤더 영역 END ------------------------------- */

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

/* 사이드가 있는 페이지 */

div#cntWrap {
    width: 1080px; height: 674px;
    margin: 0px auto;
    overflow: hidden;
}

section#contents {
    width: 825px; height: 674px;
    float: right;
}

section#contents div#titleWrap {
    width: 430px; height: 50px;
    margin: 40px 0px 0px 40px;
    float: left;
}

section#contents div#titleWrap h2 {
    margin-left: 4px;
    float: left;
    font-size: 28px;
}

section#contents div#titleWrap hr {
    width: 428px;
    margin-top: 10px;
    float: left;
}

section#contents div#titleWrap h5 {
    margin: 10px 0px 0px 4px;
    color: rgb(158, 158, 158);
    float: left;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */