/*
    > foot_idx.css - index.html (푸터)
    > (2020-05-15) 푸터 영역 css 완료.
    > (2020-06-12) 코드정리(헤더) 완료.
*/

/* ---------------------------- 푸터 영역 ------------------------------- */

footer {
    width: 1080px; height: 160px;
    margin: 0px auto;
}

footer > h1 {
    line-height: 160px;
    margin-left: 163.735px;
    color: rgb(190,190,190);
    float: left;
}

footer > address > p {
    font-size: 12px; 
    margin-left: 18.555px;
    padding-top: 56px;
    color: rgb(190,190,190);
    float: left;
}

/* ---------------------------- 푸터 영역 END ------------------------------- */