/*
    > foot_com.css - 공통 영역 (푸터)
    > (2020-05-15) 푸터 영역 css 완료.
*/

/* ---------------------------- 푸터 영역 ------------------------------- */

footer {
    width: 100%; height: 160px;
    background-color: rgb(224,224,224);
}

div#ftWrap {
    width: 1080px; height: 160px;
    margin: 0px auto;
    background-color: rgb(224,224,224);
}

div#ftWrap > h1 {
    line-height: 160px;
    margin-left: 163.735px;
    color: rgb(51,51,51);
    float: left;
}

div#ftWrap > address > p {
    font-size: 12px; 
    margin-left: 18.555px;
    padding-top: 56px;
    color: rgb(51,51,51);
    float: left;
}

/* ---------------------------- 푸터 영역 END ------------------------------- */