/*
    > ans_cnt.css - pds.html (콘텐츠)
    > (2020-06-09) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

div#contents {
    width: 1080px; height: 1213px;
    margin: 0px auto;
}

div#contents > h1 {
    margin: 40px 0px 0px 476px;
    text-align: center;
    float: left;
}

div#contents > hr {
    width: 428px;
    margin: 10px 325px 0px 325px;
    float: left;
}

/* 콘텐츠 영역 >> pSearch(Search)  */
div#pSearch {
    width: 250px; height: 36px;
    margin: 16px 45px 0px 0px;
    border: 1px solid rgb(166,166,166);
    background: #fff;
    float: right; 
}

div#pSearch > input {
    width: 209px; height: 36px;
    margin: 0px 0px 0px 5px;
    border: 0px;
    outline: none;
    float: left;
}

div#pSearch > button {
    width: 36px; height: 36px;
    border: 0px;
    background: rgb(237, 237, 237);
    color: rgb(166,166,166);
    outline: none;
    float: right;
    cursor: pointer;
}

div#ansWrap {
    width: 900px; height: 760px;
    margin-top: 50px;
    margin-left: 90px;
    float: left;
}

div#table {
    width: 860px; height: 760px;
    margin: 0px 20px;
    border: 2px solid rgb(166,166,166);
    float: left;
}

div#table > table {
    width: 860px; height: 760px;
    border-collapse:collapse;
    table-layout: fixed;
}

div#table tr { border-bottom: 2px solid rgb(166,166,166); }
div#table tr:nth-child(10) { border-bottom: 0px solid rgb(166,166,166); }

div#table tr td:nth-child(1) {
    width: 482px; height: 72px;
    font-size: 20px; 
    text-indent: 30px;
    font-weight: bold;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

div#table tr td:nth-child(2) {
    width: 109px; height: 72px;
    text-align: center;
}

div#table tr td:nth-child(3) {
    width: 191px; height: 72px;
    text-align: center;
}

div#table tr td:nth-child(4) {
    width: 78px; height: 72px;
    text-align: center;
}



/* 콘텐츠 영역 >> ansWrite(관리자) */
button#ansWrite {
    width: 104px; height: 50px;
    margin: 30px 90px 0px 886px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(64,64,64);
    font-weight: bold;
    cursor: pointer;
    float: right;
}

/* 콘텐츠 영역 >> 페이징 */
.list_number{
    width: 362px; height: 45px;
    padding-top: 35px;
    margin-left: 359px;
    text-align:center;
    float: left;
}

.list_n_menu {
    padding:3px; 
    margin:3px; 
    text-align:center;
}

.list_n_menu A {
    padding:5px 8px 4px 8px;
    margin: 2px;
    border: #888 1px solid; color: #555;
    text-decoration: none; 
}

.list_n_menu A:hover { border:#888 1px solid; color: #555; }
.list_n_menu A:active { border:#888 1px solid; color: #555; }

.list_n_menu .current {
    border: #117bff 1px solid;
    padding:5px 8px 4px 8px; 
    font-weight: bold;
    margin: 2px;
    color: #036cb4;
}

.list_n_menu .disabled {
    border: #888 1px solid;
    padding:5px 8px 4px 8px;
    margin: 2px;
    color: #555;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */
