/*
    > del_user.css - del_user.html (콘텐츠)
    > (2020-05-26) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

div#cntWrap {
    width: 1080px; height: 674px;
    margin: 0px auto;
    overflow: hidden;
}

/* 콘텐츠 영역 >> contents */
section#contents {
    width: 825px; height: 674px;
    float: right;
}

section#contents > h1 {
  margin: 40px 0px 0px 348.5px;
  text-align: center;
  font-size: 32px;
  float: left;
}

section#contents > hr {
  width: 428px;
  margin: 10px 0px 0px 198.5px;
  float: left;
}

section#contents > h4 {
  margin: 10px 0px 0px 254.218px;
  color: rgb(158, 158, 158);
  float: left;
}


div#delInput {
    width: 636px;
    margin: 50px 0px 0px 94px;
    text-align: center;
    float: left;
}

label.label {
    font-size: 24px;
    font-weight: bold;
}

/* 비밀번호 */
input#member_pwd {
    width: 428px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin: 0px 0px 0px 102px;
}

/* 비밀번호 확인 */
input#re_pwd {
    width: 428px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin: 15px 0px 0px 46px;
}

button#delOk {
    width: 244px; height: 57px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(64,64,64);
    margin: 60px 0px 0px 290.5px;
    font-weight: bold;
    cursor : pointer;
    float: left;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */