/*
    > admin.css - admin.html (콘텐츠)
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

div#cntWrap {
    width: 1080px; height: 674px;
    margin: 0px auto;
    overflow: hidden;
}

/* 콘텐츠 영역 >> contents */
section#contents {
    width: 825px; height: 674px;
    float: right;
}

section#contents > h1 {
  margin: 40px 0px 0px 348.5px;
  text-align: center;
  font-size: 32px;
  float: left;
}

section#contents > hr {
  width: 428px;
  margin: 10px 0px 0px 198.5px;
  float: left;
}

/* 콘텐츠 영역 >> pSearch(Search)  */
div#pSearch {
    width: 250px; height: 36px;
    margin: 16px 45px 0px 0px;
    border: 1px solid rgb(166,166,166);
    background: #fff;
    float: right; 
}

div#pSearch > input {
    width: 209px; height: 36px;
    margin: 0px 0px 0px 5px;
    border: 0px;
    outline: none;
    float: left;
}

div#pSearch > button {
    width: 36px; height: 36px;
    border: 0px;
    background: rgb(237, 237, 237);
    color: rgb(166,166,166);
    outline: none;
    float: right;
    cursor: pointer;
}

/* 콘텐츠 영역 >> memberList */
div#memberList {
    width: 700px; height: 400px;
    margin: 29.8px 0px 0px 62.5px;
    border-top: 2px solid rgb(166,166,166);
    border-bottom: 2px solid rgb(166,166,166);
    float: left;
}

table#adminTable {
    width: 700px; height: 400px;
    font-size: 14px;
    text-align: center;
    border-collapse:collapse;
    table-layout: fixed;
}

table#adminTable tr {
    height: 36px;
    border-bottom: 1px solid rgb(166,166,166); 
}

table#adminTable tr:nth-child(1) {
    height: 40px;
    background-color: rgb(224,224,224);
    font-weight: bold;
}

table#adminTable tr:nth-child(11) { border-bottom: 0px solid rgb(166,166,166); }

table#adminTable tr > td:nth-child(1) { width: 75px; }
table#adminTable tr > td:nth-child(2) { width: 145px; }
table#adminTable tr > td:nth-child(3) { width: 210px; }
table#adminTable tr > td:nth-child(4) { width: 145px; }
table#adminTable tr > td:nth-child(5) { width: 120px; }

/* 콘텐츠 영역 >> 페이징 */
.list_number{
    width: 362px; height: 45px;
    padding-top: 30px;
    margin-left: 231.5px;
    text-align:center;
    float: left;
}

.list_n_menu {
    padding:3px; 
    margin:3px; 
    text-align:center;
}

.list_n_menu A {
    padding:5px 8px 4px 8px;
    margin: 2px;
    border: #888 1px solid; color: #555;
    text-decoration: none; 
}

.list_n_menu A:hover { border:#888 1px solid; color: #555; }
.list_n_menu A:active { border:#888 1px solid; color: #555; }

.list_n_menu .current {
    border: #117bff 1px solid;
    padding:5px 8px 4px 8px; 
    font-weight: bold;
    margin: 2px;
    color: #036cb4;
}

.list_n_menu .disabled {
    border: #888 1px solid;
    padding:5px 8px 4px 8px;
    margin: 2px;
    color: #555;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */