/*
    > index.css - index.html (콘텐츠)
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

div#contents {
    width: 1080px; height: 674px;
    margin: 0px auto;
    overflow: hidden;
    }

div#contents > div#topWrap {
    width: 1080px; height: 358px;
    background-color: lemonchiffon;
}

div#contents > #bottomWrap {
    width: 1080px; height: 316px;
    background-color: rgb(224,224,224);
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */
