/*
    > index.css - index.html (콘텐츠)
    > (2020-06-10) 콘텐츠 영역 css 완료.
    > (2020-06-23) 최종 마크업 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

/* 컨텐츠 영역 >> topCnt */
div#topCnt { width: 100%; height: 408px; }

div#topCnt > div#topWrap {
    width: 1155.5px; height: 408px;
    margin: 0px auto;
    position: relative;
}

div.books {
    width: 229px; height: 398px;
    float: left;
}

div.books > img { width: 209px; height: 230px; margin: 10px;}

div.books > h3 {
    width: 209px;
    margin: 10px;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;
}

div.books > div {
    width: 209px;
    margin: 10px;
    font-size: 12px;
    text-align: left;
    height: 6.0em;
}

#prevBtn { position: absolute; left: 20px; top: 156.5px; }
#nextBtn { position: absolute; right: 20px; top: 156.5px; }
#prevBtn > img { width: 45px; height: 45px; }
#nextBtn > img { width: 45px; height: 45px; }

/* 컨텐츠 영역 >> bottomCnt */
div#bottomCnt {
    width: 100%; height: 316px;
    background-color: rgb(224,224,224);
}

div#bottomCnt > div#bottomWrap {
    width: 1155.5px; height: 316px;
    margin: 0px auto;
    background-color: rgb(224,224,224);
}


div#left {
    width: 510px; height: 288px;
    margin: 14px 0px 0px 45px;
    float: left;
}

div#left > h2 { float: left; }
div#left > a { margin: 8px 10px 0px 0px; float: right; }
div#left > hr { width: 510px; margin-top: 40px;}

div#left > table {
    width: 500px; height: 224px;
    margin-top: 10px;
    float: left;
    table-layout: fixed;
}

div.box {
    width: 60px; height: 26px;
    font-size: 12px;
    color: rgb(64, 64, 64);
    background-color: rgb(160, 160, 160);
    line-height: 26px;
    border-radius: 5px;
    text-align: center;
    float: left;
}

div#left > table tr td.icon { width: 60px; }

div#left > table tr td:nth-child(2) {
    width: 332px; height: 43px;
    text-indent: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap; 
}

div#left > table tr td:nth-child(3) {
    width: 100px;
    text-align: center;
}

div#right {
    width: 475px; height: 288px;
    margin: 14px 45px 0px 0px;
    float: right;
}

div#banner {
    width: 346px; height: 268px;
    margin: 10px 0px 0px 16.5px;
    float: left;
}

div#banner img {
    width: 346px; height: 80px;
    margin: 2.5px 0px;
}

div#sns {
    width: 74.38px; height: 255px;
    margin: 10px 16.5px 0px 0px;
    float: right;
}

div#sns i{
    font-size: 85px;
    float: left;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */
