/*
    > company.css - company.html (콘텐츠)
    > (2020-05-26) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

section#contents div#aboutUs {
    width: 780px; height: 350px;
    margin: 15px 0px 0px 20px;
    display: block;
    float: left;
}

/* 회사 로고 */

div#aboutUs img {
    width: 300px; height: 230px;
    margin-top: 60px;
    float: left;
}


/* 소개 글 */

section#contents div#aboutUs div#itd {
    width: 450px; height: 290px;
    margin-top: 20px;
    float: right;
}

section#contents div#aboutUs div#itd h2, h3 { margin-top: 10px; }
section#contents div#aboutUs div#itd h2 { font-size: 24px; }
section#contents div#aboutUs div#itd h3 { font-size: 20px; }
section#contents div#aboutUs div#itd p {
    margin-top: 35px;
    font-size: 14px;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */