/*
    > directions.css - directions.html (콘텐츠)
    > (2020-05-27) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

div#contents {
    width: 1080px; height: 674px;
    margin: 0px auto;
}

div#contents > h1 {
    margin: 40px 0px 0px 438.375px;
    text-align: center;
    float: left;
}

div#contents > hr {
    width: 428px;
    margin: 10px 0px 0px 325px;
    float: left;
}

/* 콘텐츠 영역 >> mapWrap */
div#contents > div#mapWrap {
    width: 454px; height: 480px;
    margin-top: 39.8px;
    margin-left: 35px;
    float: left;
}

div#mapWrap > div#map {
    width: 454px; height: 480px;
    float: left;
}

/* 콘텐츠 영역 >> tpt(Transportation) */
div#contents > div#tpt {
    width: 498px; height: 400px;
    margin-top: 86.3px;
    margin-right: 35px;
    border-radius: 10px;
    border: 2px solid rgb(166,166,166);
    float: right;
}

div#subway {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

div#subway > i  {
    font-size: 20px;
    font-weight: bold;
}

div#subway > span {
    font-size: 20px;
    font-weight: bold;
}

div#subway > p {
    font-size: 16px;
    margin-top: 16px;
}

div#bus {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

div#bus > i  {
    font-size: 20px;
    font-weight: bold;
}

div#bus > span {
    font-size: 20px;
    font-weight: bold;
}

div#bus > p {
    font-size: 16px;
    margin-top: 16px;
}

div#addr {
    font-size: 18px;
    margin-top: 49px;
    margin-left: 20px;
    float: left;
}

div#addr > h2 { font-size: 32px;}

div#addr > p {
    font-size: 16px;
    margin-top: 16px;
}



/* ---------------------------- 콘텐츠 영역 END ------------------------------- */