/*
    > directions.css - directions.html (콘텐츠)
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

section#contents div#mapWrap {
    width: 780px; height: 500px;
    margin: 15px 0px 0px 20px;
    display: block;
    float: left;
}

section#contents div#mapWrap div#map {
    width: 390px; height: 320px;
    margin: 20px 0px 0px 20px;
    float: left;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */