/*
    > company.css - company.html (콘텐츠)
    > (2020-05-26) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

div#contents {
    width: 1080px; height: 674px;
    margin: 0px auto;
}

div#contents > h1 {
    margin: 40px 0px 0px 476px;
    text-align: center;
    float: left;
}

div#contents > hr {
    width: 428px;
    margin: 10px 0px 0px 325px;
    float: left;
}

/* 콘텐츠 영역 >> 회사 로고 */
div#contents > img {
    width: 498px; height: 400px;
    margin-top: 86.3px;
    margin-left: 35px;
    float: left;
}

/* 콘텐츠 영역 >> aUs(About Us) */
div#contents > div#aUs {
    width: 454px; height: 491px;
    margin-top: 49.8px;
    margin-right: 35px;
    border-radius: 10px;
    border: 2px solid rgb(166,166,166);
    float: right;
}

div#aUs > h2 {
    font-size: 32px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

div#aUs > h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 20px;
    float: left;
}

div#aUs > p {
    font-size: 17px;
    margin-top: 18px;
    margin-left: 20px;
    float: left;
}

div#aUs > p b {
    font-size: 24px;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */