/*
    > pds.css - pds.html (콘텐츠)
    > (2020-06-09) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

div#contents {
    width: 1080px; height: 1760px;
    margin: 0px auto;
}

div#contents > h1 {
    margin: 40px 0px 0px 492px;
    text-align: center;
    float: left;
}

div#contents > hr {
    width: 428px;
    margin: 10px 325px 0px 325px;
    float: left;
}


/* 콘텐츠 영역 >> pSearch(Search)  */
div#pSearch {
    width: 250px; height: 36px;
    margin: 16px 45px 0px 0px;
    border: 1px solid rgb(166,166,166);
    background: #fff;
    float: right; 
}

div#pSearch > input {
    width: 209px; height: 36px;
    margin: 0px 0px 0px 5px;
    border: 0px;
    outline: none;
    float: left;
}

div#pSearch > button {
    width: 36px; height: 36px;
    border: 0px;
    background: rgb(237, 237, 237);
    color: rgb(166,166,166);
    outline: none;
    float: right;
    cursor: pointer;
}

/* 콘텐츠 영역 >> bWrap */
div#bWrap {
    width: 904px; height: 1312px;
    margin-top: 50px;
    margin-left: 88px;
    float: left;
}

div.bList {
    width: 900px; height: 260px;
    float: left;
    border: 2px solid rgb(166,166,166);
}

div#b1 { border-bottom: 0px solid rgb(166,166,166); }
div#b2 { border-bottom: 0px solid rgb(166,166,166); }
div#b3 { border-bottom: 0px solid rgb(166,166,166); }
div#b4 { border-bottom: 0px solid rgb(166,166,166); }

div#bimg {
    width: 204px; height: 260px;
    float: left;
}

div#bimg > img {
    width: 184px; height: 240px;
    margin: 10px;
    background-color: white;
}

div#bCnt {
    width: 676px; height: 240px;
    margin: 10px;
    float: right;
}

div#bCnt ul li { margin: 12px; }

div#bCnt ul li:nth-child(2) {
    margin-top: 35px;
    font-size: 15px;
    font-family: 'Noto Sans', 'sans-serif', '나눔고딕', 'NanumGothic', 'dotum';
}

div#bCnt ul li:nth-child(3) { margin-top: 45px; }

/* <a> 태그 CSS */
div#bCnt a:link { color: blue; text-decoration: none;}
div#bCnt a:visited { color: rgb(64,64,64); text-decoration: none; }
div#bCnt a:hover { color: red; text-decoration: underline; }

div#adBtn {
    width: 140px; height: 55px;
    float: right;
}

div#adBtn > button {
    width: 50px; height: 25px;
    margin: 25px 10px 0px 0px;
    border: 0px;
    border-radius: 5px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(64,64,64);
    font-weight: bold;
    cursor: pointer;
    float: right;
}

/* 콘텐츠 영역 >> pdsWrite(관리자) */
button#pdsWrite {
    width: 104px; height: 50px;
    margin: 30px 90px 0px 886px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(64,64,64);
    font-weight: bold;
    cursor: pointer;
    float: right;
}

/* 콘텐츠 영역 >> 페이징 */
.list_number{
    width: 362px; height: 45px;
    padding-top: 35px;
    margin-left: 359px;
    text-align:center;
    float: left;
}

.list_n_menu {
    padding:3px; 
    margin:3px; 
    text-align:center;
}

.list_n_menu A {
    padding:5px 8px 4px 8px;
    margin: 2px;
    border: #888 1px solid; color: #555;
    text-decoration: none; 
}

.list_n_menu A:hover { border:#888 1px solid; color: #555; }
.list_n_menu A:active { border:#888 1px solid; color: #555; }

.list_n_menu .current {
    border: #117bff 1px solid;
    padding:5px 8px 4px 8px; 
    font-weight: bold;
    margin: 2px;
    color: #036cb4;
}

.list_n_menu .disabled {
    border: #888 1px solid;
    padding:5px 8px 4px 8px;
    margin: 2px;
    color: #555;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */
