/*
    > company.css - company.html (콘텐츠)
    > (2020-05-26) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

section#contents div#aboutUs {
    width: 780px; height: 400px;
    margin: 15px 0px 0px 20px;
    display: block;
    float: left;
}

/* 소개 글 */
div#aboutUs div#itd {
    width: 450px; height: 350px;
    margin-top: 20px;
    float: left;
}

div#aboutUs div#itd h2, h3 { margin-top: 10px; }
div#aboutUs div#itd h2 { font-size: 30px; }
div#aboutUs div#itd h3 { font-size: 22px; }
div#aboutUs div#itd p {
    margin-top: 35px;
    font-size: 18px;
}

/* 회사 로고 */
div#aboutUs img {
    width: 290px; height: 220px;
    margin: 136px 10px 0px 0px;
    float: right;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */