/*
    > directions.css - directions.html (콘텐츠)
    > (2020-05-27) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

section#contents div#mapWrap {
    width: 780px; height: 560px;
    margin: 15px 0px 0px 20px;
    display: block;
    float: left;
}

/* 지도 */
div#mapWrap div#map {
    width: 390px; height: 320px;
    margin: 20px 0px 0px 20px;
    float: left;
}

/* 대중 교통 */
div#mapWrap div#tptWrap {
    width: 300px; height: 250px;
    margin: 50px 30px 0px 0px;
    float: right;
}

div#tptWrap div {
    width: 280px; height: 60px;
}

div#tptWrap div#subway { margin-top: 25px; }
div#tptWrap div#bus  {margin-top: 30px; }
div#tptWrap i { font-size: 24px; }

div#tptWrap span {
    font-size: 18px;
}
div#tptWrap p {
    margin-top: 10px;
    font-size: 14px;
}


/* JACOB'S LADDER */
div#mapWrap div#addr {
    width: 490px; height: 150px;
    margin: 30px 0px 0px 20px;
    float: left;
}

div#addr h1 { font-size: 32px; }
div#addr p { margin-top: 15px; }


/* ---------------------------- 콘텐츠 영역 END ------------------------------- */