/*
    > join_form.css - join_form.html (콘텐츠)
    > (2020-05-25) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

div#contents {
    width: 1080px; height: 674px;
    margin: 0px auto;
}

div#contents h1 {
    margin: 40px 0px 0px 476px;
    text-align: center;
    font-size: 32px;
    float: left;
}

div#contents > hr {
    width: 428px;
    margin: 10px 325px 0px 325px;
    float: left;
}

div#contents > h4 {
    margin: 10px 0px 0px 470.375px;
    text-align: center;
    float: left;
}

/* 콘텐츠 영역 >> joinInput */
div#joinInput {
    width: 636px;
    margin: 50px 0px 0px 222px;
    float: left;
}

label.label {
    font-size: 24px;
    font-weight: bold;
}

/* 아이디 */
input#member_id {
    width: 310px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin-left: 126px;
}

div#joinInput > button#dup_id{
    width: 111px; height: 57px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(64,64,64);
    background-color: rgb(224,224,224);
    font-weight: bold;
    cursor : pointer;
}

/* 이메일 */
input#member_email {
    width: 310px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin: 15px 0px 0px 126px;
}

div#joinInput > button#dup_email {
    width: 111px; height: 57px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(64,64,64);
    background-color: rgb(224,224,224);
    font-weight: bold;
    cursor : pointer;
}

/* 비밀번호 */
input#member_pwd {
    width: 428px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin: 15px 0px 0px 102px;
}

/* 비밀번호 확인 */
input#re_pwd {
    width: 428px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin: 15px 0px 0px 45.66px;
}

/* 콘텐츠 영역 >> btnWrap */
div#btnWrap {
    width: 280px;
    margin: 60px 0px 0px 400px;
    float: left;
}

button#joinBtn {
    width: 135px; height: 53px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(64,64,64);
    font-weight: bold;
    cursor : pointer;
    float: left;
}

button#reset {
    width: 135px; height: 53px;
    margin-left: 10px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(64,64,64);
    background-color: rgb(224,224,224);
    font-weight: bold;
    cursor : pointer;
    float: left;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */