/*
    > join_ok.css - join_ok.html (콘텐츠)
    > (2020-05-19) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

div#contents {
    width: 1080px; height: 674px;
    margin: 0px auto;
}

div#contents > h1 {
    margin: 40px 0px 0px 470.375px;
    text-align: center;
    font-size: 32px;
    float: left;
}

div#contents > hr {
    width: 428px;
    margin: 10px 0px 0px 325px;
    float: left;
}

div#contents > h2 {
    margin: 10px 0px 0px 321px;
    text-align: center;
    float: left;
}

/* 콘텐츠 영역 >> 가입 완료 */
div#contents > img {
    margin: 50px 0px 0px 414px;
    float: left;
}

button#home {
    width: 244px; height: 55px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(94,94,94);
    margin: 60px 0px 0px 418px;
    font-weight: bold;
    cursor : pointer;
    float: left;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */