/*
    > pwd_find_form.css - pwd_find_form.html (콘텐츠)
    > (2020-05-19) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

div#contents {
    width: 1080px; height: 674px;
    margin: 0px auto;
}

div#contents > h1 {
    margin: 40px 0px 0px 438.375px;
    text-align: center;
    float: left;
}

div#contents > hr {
    width: 428px;
    margin: 10px 0px 0px 325px;
    float: left;
}

div#contents > h4 {
    margin: 10px 0px 0px 347.843px;
    text-align: center;
    float: left;
}

/* 콘텐츠 영역 >> pwd_findInput */

div#pwd_findInput {
    width: 442px; height: 270px;
    margin: 50px 0px 0px 319px;
    float: left;
}

label.label {
    font-size: 24px;
    font-weight: bold;
}

input#member_id {
    width: 307px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin-left: 54px;
}

input#member_email {
    width: 307px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin: 30px 0px 0px 54px;
}

input#cite_num {
    width: 188px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin: 30px 0px 0px 30px;
}

span#Timespwd {
    width: 40px;
    margin: 5px 0px 0px 276px;
    display: block;
    color: red;
    /*display: none;*/
}

button#cite_btn{
    width: 113px; height: 57px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(64,64,64);
    background-color: rgb(224,224,224);
    font-weight: bold;
    cursor : pointer;
}

/* 콘텐츠 영역 >> btnWrap */

div#btnWrap {
    width: 402px;
    margin: 60px 0px 0px 339px;
    float: left;
}

button#pwd_find_btn {
    width: 244px; height: 57px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(64,64,64);
    font-weight: bold;
    cursor : pointer;
    float: left;
}

button#reset {
    width: 148px; height: 57px;
    margin-left: 10px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(64,64,64);
    background-color: rgb(224,224,224);
    font-weight: bold;
    cursor : pointer;
    float: left;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */