/*
    > agree_form.css - agree_form.html (콘텐츠)
    > (2020-05-22) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

div#contents {
    width: 1080px; height: 1212px;
    margin: 0px auto;
}

div#contents > h1 {
    margin: 40px 0px 0px 476px;
    text-align: center;
    font-size: 32px;
    float: left;
}

div#contents > hr {
    width: 428px;
    margin: 10px 0px 0px 325px;
    float: left;
}

div#contents > h4 {
    margin: 10px 0px 0px 427.562px;
    text-align: center;
    float: left;
}

div#contents > div#agreeWrap {
    width: 986px; height: 774px;
    margin: 50px 0px 0px 47px;
    float: left;
}

/* 콘텐츠 영역 >> agreeChk */
div#agreeChk {
    width: 966px; height: 364px;
    margin: 0px 0px 0px 10px;
    float: left;
}

div#agreeChk > h4 { font-size: 19px; }

div#agree_cnt {
    width: 964px; height: 266px;
    margin: 10px 0px 0px 0px;
    border: 1px solid rgb(224, 224, 224); 
} 

div#agree_cnt ul.depth01 li > h4 { margin-top: 10px; }

div#agree_cnt ul.depth02 {
    text-indent: -18px;
    padding-left:18px;
    font-size: 15px;
}

div#agree_cnt ul.depth03 {
    list-style-position: inside;
    text-indent: -18px;
    padding-left:18px;
    font-size: 14px;
}

div#agree01 {
    width: 964px; height: 53px;
    border: 1px solid rgb(224, 224, 224);
    border-top: 0px;
}

div#agree01 > h4 {
    line-height: 53px;
    float: left;
}

div#agree01 > div {
    margin-right: 30px;
    float: right;
}

div#agree01 div > input { margin: 20px; }

div#agree01 div > label { font-weight: bold; }


/* 콘텐츠 영역 >> psnInfo(personal information) */
div#psnInfo {
    width: 966px; height: 364px;
    margin: 50px 0px 0px 10px;
    display: block;
    float: left;
}

div#psnInfo > h4 { font-size: 19px; }

div#psnInfo_cnt {
    width: 964px; height: 266px;
    margin: 10px 0px 0px 0px;
    border: 1px solid rgb(224, 224, 224);
}

div#psnInfo_cnt > div h4, h5 {
    margin-top: 10px;
    font-size: 16px;
}

div#psnInfo_cnt ul.depth02 {
    text-indent: -18px;
    padding-left:18px;
    font-size: 15px;
}

div#psnInfo_cnt ul.depth02 li {
    text-indent: -18px;
    padding-left:18px;
    font-size: 14px;
}

div#psnInfo_cnt ul.depth03 {
    list-style-position: inside;
    text-indent: -18px;
    padding-left:18px;
    font-size: 14px;
}

div#agree02 {
    width: 964px; height: 53px;
    border: 1px solid rgb(224, 224, 224);
    border-top: 0px;
}

div#agree02 > h4 {
    line-height: 53px;
    float: left;
}

div#agree02 > div {
    margin-right: 30px;
    float: right;
}

div#agree02 div > input { margin: 20px; }

div#agree02 div > label { font-weight: bold; }

/* 콘텐츠 영역 >> agreeAll */
div#agreeAll {
    width: 280px; height: 21px;
    margin: 40px 0px 0px 400px;
    float: left;
}

div#agreeAll > label { 
    font-size: 16px;
    font-weight: bold;
}

/* 콘텐츠 영역 >> btnWrap */
div#btnWrap {
    width: 280px; height: 53px;
    margin: 40px 0px 0px 400px;
    float: left;
}

button#agree_formOk {
    width: 135px; height: 53px;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(64,64,64);
    font-size: 16px;
    font-weight: bold;
    color: rgb(255,255,255);
    float: left;
    cursor: pointer;
}

button#reset {
    width: 135px; height: 53px;
    margin-left: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(224,224,224);
    font-size: 16px;
    font-weight: bold;
    color: rgb(64,64,64,);
    float: left;
    cursor: pointer;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */