/*
    > id_find_form.css - id_find_form.html (콘텐츠)
    > (2020-05-19) 콘텐츠 영역 css 완료.
*/

/* ---------------------------- 콘텐츠 영역 ------------------------------- */

div#contents {
    width: 1080px; height: 674px;
    margin: 0px auto;
    background-color: lightsalmon;
}

div#contents > h1 {
    margin: 40px 0px 0px 454.375px;
    text-align: center;
    font-size: 32px;
    float: left;
}

div#contents > hr {
    width: 428px;
    margin: 10px 0px 0px 325px;
    float: left;
}

div#contents > h4 {
    margin: 10px 0px 0px 382.656px;
    text-align: center;
    float: left;
}

/* 콘텐츠 영역 >> id_findInput  */

div#id_findInput {
    width: 442px;
    margin: 50px 0px 0px 319px;
    float: left;
    background-color: lightseagreen;
}

/* 이메일 / 인증번호 */

div#contents div label.label {
    font-size: 24px;
    font-weight: bold;
}

div#contents div input#member_email {
    width: 307px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin-left: 54px;
}

div#contents div input#cite_num {
    width: 188px; height: 57px;
    border: 1px solid rgb(224,224,224);
    border-radius: 10px;
    margin: 30px 0px 0px 30px;
}

div#contents div > button#cite_btn{
    width: 113px; height: 57px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(64,64,64);
    background-color: rgb(224,224,224);
}

/* 버튼 영역 */

div#contents div button#id_find_btn {
    width: 244px; height: 57px;
    margin-left: 24px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background-color: rgb(64,64,64);
    float: left;
}


div#contents div button#reset {
    width: 148px; height: 57px;
    margin-left: 10px;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(64,64,64);
    background-color: rgb(224,224,224);
    float: left;
}

/* ---------------------------- 콘텐츠 영역 END ------------------------------- */

